@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "./variables.css";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(-45deg, #19c5fe, #4553ff);
  padding: 20px;
  line-height: 1;
}
