:root {
  --padding: 16px 32px;
  --transition-speed: 0.3s;
  --products-width: 490px;
  --products-height: 280px;
  --developers-width: 390px;
  --developers-height: 266px;
  --company-width: 260px;
  --company-height: 296px;
}
